@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*:not(.navbar-brand) {
    font-size: 11px;
    font-family: "Poppins", sans-serif;
}
body{
    scroll-behavior: smooth;
}
.nav-link:hover,
.active:hover {
    color: rgb(0, 72, 255) !important;
}

thead tr th {
    background-color: rgb(205, 205, 205) !important;
}

tbody tr td, 
thead tr th{
    font-size: 10px !important;
}

table {
    overflow: hidden !important;
    max-width:650px !important;
    margin: 0 auto;
}


.btn.action {
    padding: 1px;
    padding-left: 3px;
    padding-right: 3px;
}

body {
    padding: 0 !important;
}

.hero {
    background-image: url(../frontImages/image2.jpeg) !important;
    background-position: center !important;
    background-size: cover !important;
    filter: blur(-2px);
    background-repeat: no-repeat !important;
}

.book-content-title,
.text-line {
    color: #fff;
}

.book-text-content .text-line {
    height: 2px;
    width: 100px;
    background-color: #fff;

}
.already-registered:hover{
    opacity: 0.9;
}
.return-back:hover{
    background-color:#0e3759;
}
.card-img-top{
    width: 138px;
    height: 100px;
}
.card-text{
    font-size: 8px;
    color: rgb(181, 181, 181);
}

.edit:hover,.del:hover{
    opacity: 0.9 !important;
}